@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/**
This file contains the general and shared style of your application.
 */
#button{
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: #FFFFFF linear-gradient(360deg, #EED8B9 -2.18%, rgba(255, 255, 255, 0) 34.77%) fixed;
  /*  Source for the background gradient scaling:
  https://stackoverflow.com/questions/16841323/making-gradient-background-fill-page-with-css/16841457*/

}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}


* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
/*Popup body:*/
.modal {
  font-size: 12px;
}

/*Popup header:*/
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
  /*horizontal-align: middle;*/

}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 90%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}